.tabs {
  display: grid;
  gap: 1rem;
  padding-top: 1rem; /* Add space above the first exercise */
}

.completeButton {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-top: 1rem;
}

.completeButton:hover {
  transform: scale(1.02);
  background-color: #95d300; /* Brighter green */
}
